<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>2013/01/01(火)</string>
	<string>2013/01/02(水)</string>
	<string>2013/01/03(木)</string>
	<string>2013/01/04(金)</string>
	<string>2013/01/05(土)</string>
	<string>2013/01/06(日)</string>
	<string>2013/01/07(月)</string>
	<string>2013/01/08(火)</string>
	<string>2013/01/09(水)</string>
	<string>2013/01/10(木)</string>
	<string>2013/01/11(金)</string>
	<string>2013/01/12(土)</string>
	<string>2013/01/13(日)</string>
	<string>2013/01/14(月)</string>
	<string>2013/01/15(火)</string>
	<string>2013/01/16(水)</string>
	<string>2013/01/17(木)</string>
	<string>2013/01/18(金)</string>
	<string>2013/01/19(土)</string>
	<string>2013/01/20(日)</string>
	<string>2013/01/21(月)</string>
	<string>2013/01/22(火)</string>
	<string>2013/01/23(水)</string>
	<string>2013/01/24(木)</string>
	<string>2013/01/25(金)</string>
	<string>2013/01/26(土)</string>
	<string>2013/01/27(日)</string>
	<string>2013/01/28(月)</string>
	<string>2013/01/29(火)</string>
	<string>2013/01/30(水)</string>
	<string>2013/01/31(木)</string>
</array>
</plist>
